Core Files/workflows/MECHTECH_KI_KNOWLEDGE_BUILDER_00/MECHTECH_KI_KNOWLEDGE_BUILDER_00_20251220_01.json
{
  "updatedAt": "2025-12-06T22:59:55.000Z",
  "createdAt": "2025-12-06T22:05:35.302Z",
  "id": "RY4pqeL1z0ix3wmf",
  "name": "***MECHTECH_KI_KNOWLEDGE_BUILDER_00",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "d65c0cf0-6e77-492b-a12e-af39d5c7f6c0",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        -2480,
        400
      ],
      "webhookId": "knowledge-builder-chat",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "path": "mechtech-ki-knowledge-builder"
      },
      "id": "2a0c5888-2bde-42a0-b86c-0e1f0f52b9af",
      "name": "MCP Server Trigger",
      "type": "@n8n/n8n-nodes-langchain.mcpTrigger",
      "position": [
        -2480,
        640
      ],
      "webhookId": "mechtech-ki-knowledge-mcp",
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "0358f2e8-58ea-456c-b889-e03b3b430e03",
      "name": "When clicking 'Execute workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -2480,
        128
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "MECHTECH_LEXWARE_ABLAGE_FILES",
        "returnAll": true,
        "filter": {
          "driveId": {
            "__rl": true,
            "value": "My Drive",
            "mode": "list"
          }
        },
        "options": {}
      },
      "id": "1f258cdf-7341-43a9-a7c1-7af3e0d1d245",
      "name": "Search MECHTECH_LEXWARE_ABLAGE_FILES",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        -2240,
        160
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain",
              "slidesToFormat": "application/pdf"
            }
          }
        }
      },
      "id": "6f0b6bee-5b61-44ff-b587-ca5978841be3",
      "name": "Download Files from GDrive",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        -2000,
        160
      ],
      "typeVersion": 3,
      "retryOnFail": true,
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $binary.data.mimeType }}",
                    "rightValue": "application/pdf"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "pdf"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $binary.data.mimeType }}",
                    "rightValue": "text/csv"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "csv"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $binary.data.mimeType }}",
                    "rightValue": "application/json"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "json"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "leftValue": "={{ $binary.data.mimeType }}",
                    "rightValue": "text"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "text"
            }
          ]
        },
        "options": {}
      },
      "id": "31665532-7a1e-49cd-834b-117a42e51332",
      "name": "FileType Router",
      "type": "n8n-nodes-base.switch",
      "position": [
        -1760,
        160
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "e9e3ff1e-28b2-42bb-92be-9de329bc1b73",
      "name": "Extract from PDF",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        -1520,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {
          "encoding": "utf-8",
          "relaxQuotes": true
        }
      },
      "id": "50199fc3-49ea-49f4-9322-0d019eaf263c",
      "name": "Extract from CSV",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        -1520,
        160
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "// Parse JSON file content\nconst binaryData = $input.item.binary.data;\nconst jsonString = Buffer.from(binaryData.data, 'base64').toString('utf8');\nconst jsonContent = JSON.parse(jsonString);\n\nreturn {\n  json: {\n    content: JSON.stringify(jsonContent, null, 2),\n    type: 'json',\n    fileName: binaryData.fileName || 'unknown.json'\n  }\n};"
      },
      "id": "ee00f972-22a9-4748-acce-a2535ab31c20",
      "name": "Parse JSON File",
      "type": "n8n-nodes-base.code",
      "position": [
        -1520,
        320
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// Extract text content\nconst binaryData = $input.item.binary.data;\nconst textContent = Buffer.from(binaryData.data, 'base64').toString('utf8');\n\nreturn {\n  json: {\n    content: textContent,\n    type: 'text',\n    fileName: binaryData.fileName || 'unknown.txt'\n  }\n};"
      },
      "id": "03c995b8-ffdc-4197-958c-d87d95012356",
      "name": "Parse Text File",
      "type": "n8n-nodes-base.code",
      "position": [
        -1520,
        480
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "content-001",
              "name": "content",
              "type": "string",
              "value": "={{ $json.text || $json.content }}"
            },
            {
              "id": "filename-001",
              "name": "fileName",
              "type": "string",
              "value": "={{ $json.fileName || $binary.data.fileName }}"
            },
            {
              "id": "type-001",
              "name": "fileType",
              "type": "string",
              "value": "={{ $json.type || 'document' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b8094810-e78f-4097-9950-69dfd31b1e60",
      "name": "Normalize Content",
      "type": "n8n-nodes-base.set",
      "position": [
        -1280,
        160
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "7e6cf410-1d16-4049-82a0-5b40cdfbc84f",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        -1040,
        320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1536
        }
      },
      "id": "e6f0faa4-cde8-48eb-ac40-d3f9680b8e66",
      "name": "Embeddings OpenAI (1536 Dim)",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        -800,
        320
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "id": "0fd9bb2e-943a-4f83-9076-6637608456cf",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        -1040,
        480
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "caseSensitive": false,
                  "typeValidation": "loose"
                },
                "combinator": "or",
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "leftValue": "={{ $json.fileName }}",
                    "rightValue": "workflow"
                  },
                  {
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "leftValue": "={{ $json.fileName }}",
                    "rightValue": "n8n"
                  },
                  {
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "leftValue": "={{ $json.content }}",
                    "rightValue": "\"nodes\":"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "workflows"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "caseSensitive": false,
                  "typeValidation": "loose"
                },
                "combinator": "or",
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "leftValue": "={{ $json.fileName }}",
                    "rightValue": "json"
                  },
                  {
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "leftValue": "={{ $json.fileName }}",
                    "rightValue": "programming"
                  },
                  {
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "leftValue": "={{ $json.fileName }}",
                    "rightValue": "ki"
                  },
                  {
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "leftValue": "={{ $json.fileName }}",
                    "rightValue": "ai"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "programming"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "caseSensitive": false,
                  "typeValidation": "loose"
                },
                "combinator": "or",
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "leftValue": "={{ $json.fileName }}",
                    "rightValue": "buchhal"
                  },
                  {
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "leftValue": "={{ $json.fileName }}",
                    "rightValue": "account"
                  },
                  {
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "leftValue": "={{ $json.fileName }}",
                    "rightValue": "lexware"
                  },
                  {
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "leftValue": "={{ $json.fileName }}",
                    "rightValue": "finanz"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "accounting"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "59334746-aba7-4577-a529-6851b136cf69",
      "name": "Knowledge Type Router",
      "type": "n8n-nodes-base.switch",
      "position": [
        -800,
        160
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "n8n_workflows_knowledge",
          "mode": "list"
        },
        "options": {}
      },
      "id": "a2f96bfd-d06b-4128-a3d1-493c327da20e",
      "name": "Insert n8n_workflows_knowledge",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "position": [
        -528,
        0
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "json_programming_knowledge",
          "mode": "list"
        },
        "options": {}
      },
      "id": "a3b05c62-5a44-425d-9ecf-171f6518580f",
      "name": "Insert json_programming_knowledge",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "position": [
        -528,
        160
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "accounting_knowledge",
          "mode": "list"
        },
        "options": {}
      },
      "id": "bccd93fb-801c-4b4a-be15-6b0b13795bf7",
      "name": "Insert accounting_knowledge",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "position": [
        -528,
        320
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1536
        }
      },
      "id": "72f4c081-db5d-4c6c-8a2b-0f1c643f495b",
      "name": "Embeddings for Workflows",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        -288,
        80
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1536
        }
      },
      "id": "e514f0a9-1911-4d72-8619-022a0225b7ae",
      "name": "Embeddings for Programming",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        -288,
        240
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1536
        }
      },
      "id": "4324babf-529e-473f-b977-611a04441cc8",
      "name": "Embeddings for Accounting",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        -288,
        400
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "f9a25831-bb79-4e45-ae41-ca77a368abd3",
      "name": "Text Splitter Workflows",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        -288,
        -80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "e63fd6a1-eb7c-4144-a42d-7f0aec76668c",
      "name": "Text Splitter Programming",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        -288,
        560
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "0799852f-dbeb-44db-9891-dd89fc5bd653",
      "name": "Text Splitter Accounting",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        -288,
        720
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "id": "daf35b10-eb4b-4960-8784-0ffa961e919b",
      "name": "Data Loader Workflows",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        -528,
        -160
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "id": "0a1872f1-dda5-4b81-bee7-f6e26b1cc6a0",
      "name": "Data Loader Programming",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        -528,
        480
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "id": "9c8f1f35-cfdd-47df-ad82-38e0dde4c58f",
      "name": "Data Loader Accounting",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        -528,
        640
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Du bist der **MECHTECH KI Knowledge Builder Assistant**.\n\nDeine Aufgabe ist es, den Benutzer beim Aufbau der Wissensdatenbank zu unterstützen:\n\n1. **Workflow-Wissen laden** (n8n_workflows_knowledge)\n   - Verarbeite n8n Workflow JSON-Dateien\n   - Extrahiere Node-Konfigurationen und Verbindungen\n   - Speichere 1500+ Workflows für KI-Training\n\n2. **Programming-Wissen laden** (json_programming_knowledge)\n   - JSON Strukturen und Schemas\n   - n8n Node-Typen und Expressions\n   - KI/ML Best Practices\n\n3. **Buchhalter-Wissen laden** (accounting_knowledge)\n   - Lexware Dokumentation\n   - Buchhaltungsregeln und Kontenpläne\n   - Steuerliche Vorschriften\n\n**Befehle:**\n- 'load workflows' - Lade alle Workflows aus Google Drive\n- 'load programming' - Lade Programmier-Wissen\n- 'load accounting' - Lade Buchhalter-Wissen\n- 'status' - Zeige aktuellen Ladestatus\n- 'search [begriff]' - Suche in der Wissensdatenbank"
        }
      },
      "id": "4ca4e238-5310-4b81-a486-c62977f44e28",
      "name": "Knowledge Builder Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -2160,
        400
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "e31d5853-6f30-42a2-bd51-0ac9ca45c8a7",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -2160,
        640
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {},
      "id": "527f3b7f-00c5-45ae-8e51-b04e4f7f91eb",
      "name": "Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        -2000,
        640
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "name": "LoadWorkflows",
        "description": "Lade n8n Workflows aus Google Drive in die Wissensdatenbank",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $workflow.id }}"
        }
      },
      "id": "a44fd162-2e24-4b60-b5c3-9c2fc03571fe",
      "name": "Tool: Load Workflows",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [
        -1920,
        480
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Search_Query', ``, 'string') }}",
        "filter": {
          "driveId": {
            "mode": "list",
            "value": "My Drive"
          },
          "whatToSearch": "files"
        },
        "options": {}
      },
      "id": "ffdd31d0-3748-4c51-b68e-1d1df5612dea",
      "name": "Search Google Drive",
      "type": "n8n-nodes-base.googleDriveTool",
      "position": [
        -1920,
        720
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Suche in n8n Workflow Wissen (1500 Workflows)",
        "tableName": {
          "__rl": true,
          "mode": "list",
          "value": "n8n_workflows_knowledge"
        },
        "options": {}
      },
      "id": "567a71dc-a67e-4f2c-bf4b-6c33a8dd6dda",
      "name": "Search Workflows Knowledge",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "position": [
        -1760,
        480
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Suche in JSON/Programming/KI Wissen",
        "tableName": {
          "__rl": true,
          "mode": "list",
          "value": "json_programming_knowledge"
        },
        "options": {}
      },
      "id": "8d83efcd-8bf9-4e72-90c1-f45e53b5bbfe",
      "name": "Search Programming Knowledge",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "position": [
        -1760,
        640
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Suche in Buchhalter/Lexware Wissen",
        "tableName": {
          "__rl": true,
          "mode": "list",
          "value": "accounting_knowledge"
        },
        "options": {}
      },
      "id": "8ca9b3d6-463a-435d-ad2f-eefa4970435c",
      "name": "Search Accounting Knowledge",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "position": [
        -1760,
        800
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1536
        }
      },
      "id": "f11b9b51-ecae-409c-86f7-d74b798d4ed7",
      "name": "Embeddings for Search",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        -1600,
        480
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1536
        }
      },
      "id": "726c856e-ce90-40b9-a823-8c4a13d766a4",
      "name": "Embeddings for Search 2",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        -1600,
        640
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1536
        }
      },
      "id": "83ddcc54-c392-4403-a86c-b10df77d6fc3",
      "name": "Embeddings for Search 3",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        -1600,
        800
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "content": "# 🧠 MECHTECH KI KNOWLEDGE BUILDER\n\n## Zweck:\nLädt Wissen aus Google Drive in 3 Supabase Vector Stores:\n\n1. **n8n_workflows_knowledge** - 1500 Workflows\n2. **json_programming_knowledge** - n8n + JSON + KI\n3. **accounting_knowledge** - Buchhalter-Wissen\n\n## Befehle:\n- Klicke 'Execute workflow' um alle Dateien zu laden\n- Oder nutze den Chat für gezielte Steuerung",
        "height": 320,
        "width": 400,
        "color": 3
      },
      "id": "962afe98-36fc-416c-8210-7e75e0057f3d",
      "name": "Sticky Note Intro",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2928,
        32
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 📁 Google Drive\nDurchsucht MECHTECH_LEXWARE_ABLAGE_FILES\nund lädt alle Dateien herunter",
        "height": 200,
        "width": 280,
        "color": 5
      },
      "id": "a11559aa-1183-491d-95f9-965ca474a4e8",
      "name": "Sticky Note GDrive",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2240,
        -80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 📄 Document Parser\nVerarbeitet:\n- PDF (Extract)\n- CSV (Parse)\n- JSON (Parse)\n- Text (Raw)",
        "height": 280,
        "width": 280,
        "color": 5
      },
      "id": "bd695b6f-8710-4a07-8732-4b31d88d25be",
      "name": "Sticky Note Parser",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1568,
        -192
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 🗄️ Supabase Vector Stores\n\n**3 Tabellen mit 1536-dim Embeddings:**\n\n1. n8n_workflows_knowledge\n2. json_programming_knowledge  \n3. accounting_knowledge",
        "height": 280,
        "width": 320,
        "color": 7
      },
      "id": "acf902a6-338d-4a9e-a08f-78dc3437dabc",
      "name": "Sticky Note Supabase",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -560,
        -288
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 🔧 MCP Server\nExponiert als Tools für externe MCP Clients\n\nEndpoint: /mcp/mechtech-ki-knowledge-builder",
        "width": 320,
        "color": 4
      },
      "id": "7ca66bc2-d366-41f2-924b-092ba7bdff27",
      "name": "Sticky Note MCP",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2528,
        848
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Search MECHTECH_LEXWARE_ABLAGE_FILES",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search MECHTECH_LEXWARE_ABLAGE_FILES": {
      "main": [
        [
          {
            "node": "Download Files from GDrive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Files from GDrive": {
      "main": [
        [
          {
            "node": "FileType Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FileType Router": {
      "main": [
        [
          {
            "node": "Extract from PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from CSV",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse JSON File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse Text File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from PDF": {
      "main": [
        [
          {
            "node": "Normalize Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from CSV": {
      "main": [
        [
          {
            "node": "Normalize Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse JSON File": {
      "main": [
        [
          {
            "node": "Normalize Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Text File": {
      "main": [
        [
          {
            "node": "Normalize Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Content": {
      "main": [
        [
          {
            "node": "Knowledge Type Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Knowledge Type Router": {
      "main": [
        [
          {
            "node": "Insert n8n_workflows_knowledge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert json_programming_knowledge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert accounting_knowledge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings for Workflows": {
      "ai_embedding": [
        [
          {
            "node": "Insert n8n_workflows_knowledge",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings for Programming": {
      "ai_embedding": [
        [
          {
            "node": "Insert json_programming_knowledge",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings for Accounting": {
      "ai_embedding": [
        [
          {
            "node": "Insert accounting_knowledge",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Text Splitter Workflows": {
      "ai_textSplitter": [
        [
          {
            "node": "Data Loader Workflows",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Text Splitter Programming": {
      "ai_textSplitter": [
        [
          {
            "node": "Data Loader Programming",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Text Splitter Accounting": {
      "ai_textSplitter": [
        [
          {
            "node": "Data Loader Accounting",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Data Loader Workflows": {
      "ai_document": [
        [
          {
            "node": "Insert n8n_workflows_knowledge",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Data Loader Programming": {
      "ai_document": [
        [
          {
            "node": "Insert json_programming_knowledge",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Data Loader Accounting": {
      "ai_document": [
        [
          {
            "node": "Insert accounting_knowledge",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Knowledge Builder Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Knowledge Builder Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "Knowledge Builder Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Load Workflows": {
      "ai_tool": [
        [
          {
            "node": "Knowledge Builder Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search Google Drive": {
      "ai_tool": [
        [
          {
            "node": "MCP Server Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search Workflows Knowledge": {
      "ai_tool": [
        [
          {
            "node": "Knowledge Builder Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "MCP Server Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search Programming Knowledge": {
      "ai_tool": [
        [
          {
            "node": "Knowledge Builder Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "MCP Server Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search Accounting Knowledge": {
      "ai_tool": [
        [
          {
            "node": "Knowledge Builder Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "MCP Server Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings for Search": {
      "ai_embedding": [
        [
          {
            "node": "Search Workflows Knowledge",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings for Search 2": {
      "ai_embedding": [
        [
          {
            "node": "Search Programming Knowledge",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings for Search 3": {
      "ai_embedding": [
        [
          {
            "node": "Search Accounting Knowledge",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "e3122281-bae1-4206-8e25-c1380edf9ab9",
  "activeVersionId": null,
  "versionCounter": 5,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-06T22:05:35.305Z",
      "createdAt": "2025-12-06T22:05:35.305Z",
      "role": "workflow:owner",
      "workflowId": "RY4pqeL1z0ix3wmf",
      "projectId": "eYBRLdtGaWLyIIOy",
      "project": {
        "updatedAt": "2025-11-06T02:18:23.292Z",
        "createdAt": "2025-11-06T01:50:03.327Z",
        "id": "eYBRLdtGaWLyIIOy",
        "name": "Andree Schulz <info@mechtech-support.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-11-06T01:50:03.327Z",
            "createdAt": "2025-11-06T01:50:03.327Z",
            "userId": "905b93e2-2ccd-4e6b-a613-4d01485a9251",
            "projectId": "eYBRLdtGaWLyIIOy",
            "user": {
              "updatedAt": "2025-12-19T23:00:26.000Z",
              "createdAt": "2025-11-06T01:50:02.958Z",
              "id": "905b93e2-2ccd-4e6b-a613-4d01485a9251",
              "email": "info@mechtech-support.com",
              "firstName": "Andree",
              "lastName": "Schulz",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-11-06T02:19:06.535Z",
                "personalization_survey_n8n_version": "1.118.2",
                "companySize": "<20",
                "companyType": "ecommerce",
                "role": "business-owner",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "uok6olNDUiRKpaE8",
                "userActivatedAt": 1764952348935,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1765239138708
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-19",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null,
  "_backup_metadata": {
    "version": 1,
    "backup_date": "2025-12-20T22:00:11.418Z",
    "workflow_id": "RY4pqeL1z0ix3wmf",
    "workflow_name": "***MECHTECH_KI_KNOWLEDGE_BUILDER_00",
    "original_name": "***MECHTECH_KI_KNOWLEDGE_BUILDER_00",
    "sanitized_name": "MECHTECH_KI_KNOWLEDGE_BUILDER_00"
  }
}