automation/n8n-daily-validation-workflow.json
{
  "name": "Daily Workflow Validation & Fix",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "schedule-trigger-daily",
      "name": "Schedule: Every 6 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "command": "node /home/claude/fix-workflow-auto.js",
        "options": {
          "cwd": "/home/claude"
        }
      },
      "id": "execute-fix-script",
      "name": "Execute Fix Script",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "timestamp",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "status",
              "name": "status",
              "value": "={{ $json.exitCode === 0 ? 'SUCCESS' : 'ERROR' }}",
              "type": "string"
            },
            {
              "id": "output",
              "name": "output",
              "value": "={{ $json.stdout }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "prepare-status",
      "name": "Prepare Status",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [650, 300]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "workflow-fix-status.json",
        "fileContent": "={{ JSON.stringify($json, null, 2) }}",
        "options": {}
      },
      "id": "write-status-file",
      "name": "Write Status File",
      "type": "n8n-nodes-base.writeFile",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "command": "git add workflow-fix-status.json && git commit -m \"Auto-fix workflow status: {{ $json.timestamp }}\" && git push",
        "options": {
          "cwd": "/path/to/n8n_main_repository"
        }
      },
      "id": "push-to-github",
      "name": "Push to GitHub",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1050, 300],
      "continueOnFail": true
    }
  ],
  "connections": {
    "Schedule: Every 6 Hours": {
      "main": [
        [
          {
            "node": "Execute Fix Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Fix Script": {
      "main": [
        [
          {
            "node": "Prepare Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Status": {
      "main": [
        [
          {
            "node": "Write Status File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Status File": {
      "main": [
        [
          {
            "node": "Push to GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}


